<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>

<body>
{#<form action="query" method="get">#}
{#    <span>#}
{#        Email:<input type="text" name="userid">#}
{#    </span>#}
{#    <br>#}
{#    <!-- <span>#}
{#        User_Name:<input type="text" name="username">#}
{#    </span>#}
{#    <br> -->#}
{#    <span>#}
{#        Password:<input type="password" name="password">#}
{#    </span>#}
{#    <br>#}
{#    <span>#}
{#        <input type="submit" name="submit1" value="Login">#}
{#    </span>#}
{##}
{#</form>#}
{##}
{#<a href="{% url 'register' %}">Sign up</a>#}
<div class="main">
    <p class="signin" align="center">Sign in</p>
    <form class="query" form action="query" method="get">
        {% if message %}
            <p align="center" >{{ message }}</p>
        {% endif %}
        {% csrf_token %}
    {% if messages %}
{% endif %}
        <input class="un " type="text" align="center" placeholder="Username" name='username'>
        <input class="pass" type="password" align="center" placeholder="Password" name='password'>
        <button class="submit" align="center">Sign in</button>
        <p class="Register" align="center"><a href="{% url 'register' %}">Register</a></p>
    </form>
</div>
</body>
</html>