{% extends 'base.html' %}
{% block navbar %}
    {% load static %}
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
{% endblock %}
{% block white %}
    <body>
    <h2>Time Limit</h2>
    {% for kid in kids %}
        <img src="{% static 'img/profile_icons/'|add:kid.icon_image|add:'.png' %}" alt=""
             width="10%"
             height="auto">
        <p>
        <li>{{ kid.kids_name }} -> Timelimit: {{ kid.time_limit }} minutes</li>
        <form method="post">
            {% csrf_token %}
            <input id=kid.kids_name type="text" placeholder="Enter new time limit" name={{ kid.kids_name }}>
            <button id="set-btn" type="submit">Set</button>
        </form>
        </p>
    {% endfor %}
    </body>
{% endblock %}