{% extends 'base.html' %}
{% block white %}
    <body>
    <form method="post">
    <h2>Time Limit</h2>
    {% csrf_token %}
    {% for kid in kids %}
        <p>
        <li>{{kid.kids_name}} -> Timelimit: {{kid.time_limit}}</li>
        <input id="time_limit" type="text" placeholder="Enter new time limit" name="time_limit">
        <button id="login-btn" type="submit">Set</button>
        </p>
    {% endfor %}
    </form>

{#    {% for kid in kids %}#}
{#        <p>#}
{#        <li>{{kid.kids_name}} -> Timelimit: {{kid.time_limit}}</li>#}
{#        <input id="time_limit" type="text" placeholder="Enter new time limit" name="time_limit">#}
{#        <button id="login-btn" type="submit">Set</button>#}
{#        </p>#}
{#    {% endfor %}#}
    </body>
{% endblock %}