{% extends 'base.html' %}
{% block navbar %}
    {% load static %}
    <a class="navbar-brand" href="{% url 'home' %}">Home</a>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_children' %}">My Children</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'my_profile' %}">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'about_us' %}">About Us</a>
            </li>

            <li class="nav-item">
                <a href="{% url 'logout' %}">
                    <button type="button" class="btn btn-primary">Log Out</button>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
